PROJECT_NAME=movies                 # Название проекта
PROJECT_PORT=8000                   # Порт проекта
SECRET_KEY=secret                   # Секретный ключ для JWT

ENV_TYPE=prod

SUPERUSER_NAME=superuser            # Имя суперпользователя
SUPERUSER_PASSWORD=password         # Пароль суперпользователя

ADMIN_SERVICE_HOST=admin_service    # Имя хоста контейнера admin_service
ADMIN_SERVICE_PORT=8000             # Порт для подключения к admin_service

AUTH_SERVICE_HOST=auth_service      # Имя хоста контейнера auth_service
AUTH_SERVICE_PORT=8000              # Порт для подключения к auth_service

MOVIES_SERVICE_HOST=movies_service  # Имя хоста контейнера movies_service
MOVIES_SERVICE_PORT=8000            # Порт для подключения к movies_service

USER_ACTIVITY_SERVICE_HOST=user_activity_service    # Имя хоста контейнера user_activity_service
USER_ACTIVITY_SERVICE_PORT=8000                     # Порт для подключения к user_activity_service

# Redis Database Configuration
REDIS_HOST=redis                    # Имя хоста контейнера Redis
REDIS_PORT=6379                     # Порт для подключения к Redis
REDIS_PASSWORD=password             # Пароль для Redis
REDIS_ETL_DB_BY_MOVIES=4            # DB для ETL -> MOVIES

# Elasticsearch Configuration
ELASTIC_HOST=elasticsearch          # Имя хоста контейнера Elasticsearch
ELASTIC_PORT=9200                   # Порт для подключения к Elasticsearch
ELASTIC_SCHEME=http                 # Протокол для подключения (http или https) к Elasticsearch
ELASTIC_USERNAME=elastic            # Имя пользователя для Elasticsearch
ELASTIC_PASSWORD=password           # Пароль для Elasticsearch

# PostgreSQL Database Configuration
PG_NAME=name                        # Название базы данных PostgreSQL
PG_USER=user                        # Имя пользователя базы данных PostgreSQL
PG_PASSWORD=password                # Пароль пользователя базы данных PostgreSQL
PG_PORT=5432                        # Порт для подключения к базе данных PostgreSQL
PG_HOST=postgres                    # Имя хоста контейнера PostgreSQL

# MongoDB Database Configuration
MONGO_NAME=name                        # Название базы данных MongoDB

# Yandex Oauth
YANDEX_CLIENT_ID=id
YANDEX_CLIENT_SECRET=secret
YANDEX_REDIRECT_URI=uri

# Kafka
KAFKA_BROKERS=kafka:9092        # events_service читает отсюда
KAFKA_TOPIC=events              # имя топика с событиями

# Events_service
AUTH_SERVICE_URL=http://auth_service:8000
TOKEN_CACHE_TTL=300             # секунд, 5 минут

# Log-cluster ES
LOG_ELASTIC_SCHEME=http
LOG_ELASTIC_HOST=elasticsearch-logs
LOG_ELASTIC_PORT=9200
LOG_ELASTIC_USERNAME=elastic
LOG_ELASTIC_PASSWORD=password

# JAEGER:
JAEGER_HOST=jaeger
ENABLE_JAEGER=False

# Postgres Celery
POSTGRES_CELERY_DB=postgres
POSTGRES_CELERY_USER=user
POSTGRES_CELERY_PASSWORD=password
POSTGRES_CELERY_HOST=postgres-celery
POSTGRES_CELERY_PORT=5432
POSTGRES_CELERY_DRIVER_NAME=postgresql

# RMQ Celery
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
