# Test:
MONGO_WITH_SHARD=0  # 0 - тест без шардов, 1 - тест с шардами
MONGO_WITH_INDEX=0  # 0 - тест без индексов, 1 - тест с индексами
COUNT_ENTITIES=250000  # Кол-во создаваемых сущностей (мин 10_000)

# Postgres:
POSTGRES_DB=test_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Mongo:
MONGO_DB=test_db
MONGO_HOST=localhost
MONGO_PORT=27017

# MongoShard:
# Shards:
MONGO_PORT_SHARD_1_1=27017
MONGO_PORT_SHARD_1_2=27027
MONGO_PORT_SHARD_1_3=27037
MONGO_PORT_SHARD_2_1=27047
MONGO_PORT_SHARD_2_2=27057
MONGO_PORT_SHARD_2_3=27067
# Mongos:
MONGOS_PORT_1=27019
MONGOS_PORT_2=27020


# Пример с установкой ShardKey для Mongo:
USER_FILM_MARKERS_SHARD_KEY=film_id  # Для user_film_markers будет установлен ключ шардирования индекс по полю 'film_id'

# Пример с установкой индекса для Mongo:
USER_RATING_REVIEWS_INDEX_KEY=film_id  # Для user_film_markers будет установлен индекс по полю 'film_id'
